{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Welcome to Bloggr!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'blog_app/landing3.css' %}">
  </head>

  <body>
    <header>
       <!--Navbar-->
       <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar" style="background-color: #adb5bd;">
           <div class="container">
               <!-- Navbar brand -->
               <a class="navbar-brand" href="#"><h3>Bloggr</h3></a>
                   <!-- Links -->
                   <div class="navbar-nav">
                     <ul class="navbar-nav mr-auto smooth-scroll">
                         <li class="nav-item">
                             <a class="nav-link" href="{% url 'blog-home' %}"><b>Home</b></a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="#about-us"><b>About Us</b></a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="{% url 'login' %}"><b>Login</b></a>
                         </li>
                     </ul>
                   </div>
           </div>
       </nav>
       <!--/.Navbar-->
       <!--Mask-->
       <div id="intro" class="view">
         <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
               <div class="row d-flex justify-content-center text-center">
                 <div class="col-md-10 my-5">
                    <!-- Heading -->
                      <h2 class="display-4 font-weight-bold white-text pt-5 mb-5">Come, Join Us..</h2>
                           <!-- Divider -->
                        <hr class="hr-light">
                           <!-- Description -->
                          <h4 class="white-text my-4">Welcome to Bloggr! Join the Bloggr Community now!</h4>
                           <a href="{% url 'register' %}" class="btn btn-outline-info">Get Started!</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!--/.Mask-->
   </header>
   <!--Main Navigation-->

   <!--Main layout-->
   <main class="mt-5">
       <div class="container">
           <!--Section: Best Features-->
           <section id="about-us" class="text-center my-5">
               <!-- Heading -->
               <h2 class="mb-4 font-weight-bold">About Us</h2>
               <!--Grid row-->
               <div class="row d-flex justify-content-center mb-4">
                 <!--Grid column-->
                   <div class="col-md-8">
                       <!-- Description -->
                       <p class="grey-text">Bloggr is a free blogging community, where you can post your blogs, share your experience as well as explore variety of blogs of your interest!</p>
                   </div>
               </div>
               <div class="row">
                   <!--Grid column-->
                   <div class="col-md-6 mb-5">
                       <h4 class="my-4 font-weight-bold">Share</h4>
                       <p class="grey-text">Share your experience and knowledge through Bloggr!!</p>
                   </div>
                   <div class="col-md-6 mb-1">
                       <i class="fa fa-heart fa-4x orange-text"></i>
                       <h4 class="my-4 font-weight-bold">Explore</h4>
                       <p class="grey-text">Explore numerous blogs of all of your interests on Bloggr!!</p>
                   </div>
                   <!--Grid column-->
                   <!--div class="col-md-4 mb-1">
                       <i class="fa fa-bicycle fa-4x orange-text"></i>
                       <h4 class="my-4 font-weight-bold"></h4>
                       <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                           maiores nam,
                           aperiam minima
                           assumenda deleniti hic.</p>
                   </div-->
               </div>
           </section>
         </div>
   </main>
   <!--Main layout-->
   <!-- Footer -->
  <footer class="text-center text-lg-start" style="background-color: #ced4da;">
<!-- Grid container -->
    <div class="container p-4">
    <!--Grid row-->
      <div class="row">
      <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase"><b>Please Join!</b></h5>

          <p class="my-4">
          Please join our family and share your experience and knowledge!
          </p>
        </div>
      <!--Grid column-->

      <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><b>Connect With Us</b></h5>
          <ul class="list-unstyled mb-0 my-4">
            <li class="my-2">
              <a href="#!">Instagram</a>
            </li>
            <li class="my-2 ">
              <a href="#!">Twitter</a>
            </li>
            <li>
              <a href="#!">Facebook</a>
            </li>
          </ul>
      </div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0"><b>Contact Us</b></h5>
        <ul class="list-unstyled my-4">
          <li class="my-2">
            <a href="#!" class="text-dark">Email: bloggr@gmail.com</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-dark">Phone: +91 9998887770</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Tel: 020-20201020</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="#">Bloggr</a>
  </div>
  <!-- Copyright -->
  </footer>
<!-- Footer -->

   <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
