html{
    height: 100%;
    scroll-behavior: smooth;
}

header{
    height: 100%;
}

body{
  height: 110%;
}

#intro {
    background: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fGJsb2d8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 85%;
    padding-bottom: 2rem;
}

.top-nav-collapse {
    background-color: #fff;
  }
  @media (max-width: 576px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #fff;
    }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #fff;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #fff;
    }
  }
